################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/adstra_task/bin
/.gitignore
/adstra_task/obj
