################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/adstra_task/bin/Debug/net7.0
/.gitignore
